<section id="meeting" class="meeting-section">
	<div class="container">
		<div class="row">
			<!-- Section title -->
			<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
				<div class="meeting-title">
					<h1 class="meeting">Getting to know who we are</h1>
					<hr>
					<p>Welcome to the life of some Inner Travelers.</p>
				</div>
			</div>	
		</div>
	</div>
</section>

<div class="meeting-body light-top">
    <div class="row">
        <div class="col-sm-4 text-center">
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book.
            </h4>
            <h4>
            It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including 
            versions of Lorem Ipsum.</h4>
            <%= image_tag("Us1.jpg", class: "meeting-body large") %>
            <%= image_tag("Us1.jpg", class: "meeting-body large") %>
        </div>
        <div class="col-sm-8">
            <%= image_tag("Us1.jpg", class: "center-block img center-block image-responsive") %>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book.
            </h4>
            <h4>
            It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including 
            versions of Lorem Ipsum.</h4>
            <%= image_tag("Dunes.jpg", class: "meeting-body large") %>
        </div>
    </div>
    
    <h4>
    It has survived not only five centuries, but also the leap into 
    electronic typesetting, remaining essentially unchanged. It was popularised in 
    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
    and more recently with desktop publishing software like Aldus PageMaker including 
    versions of Lorem Ipsum.</h4>
</div>
